.navbar{
  /* position: relative; */
  left: 0;
  right: 0;
  top: -8em;
  height: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: black;
  position: fixed;
  transition: top 1s ease;
  z-index: 1;
}
.nav-active{
  top: 0;
}
.nav-item{
  margin-right: 1em;
  font-family: 'Cairo', sans-serif;
  /* margin-top: 20%; */
  position: relative;
  bottom: 1em;
  list-style-type: none;
  color: white;
  display: inline;
  cursor: pointer;
}
.nav-item:hover{
  text-decoration: underline;
}
.nav-menu{
  display: inline;
  position: absolute;
  margin-left: 0
  height: 100%
}
.nbn-logo-nav{
  margin: auto auto auto .5em;
  height: 100%;
  fill: white;
  display: inline;
  transition: fill 1s ease;
}
.nbn-logo-nav:hover{
  fill: #836EAA
}
body{
  /* overflow: hidden; */
  overflow-x: hidden;

}
::-webkit-scrollbar-track{
  background: white;
}
::-webkit-scrollbar{
  width: 10px;
  z-index: 0;
}
::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: #555;
}
.title-text{
  position: relative;
  top: 0;
  width: 50vw;
  /* margin-top: 20%; */
  margin: 15% auto 0 auto;
  opacity: 0;
  font-size: 5em;
  font-family: 'Cairo', sans-serif;

  animation: fade-in 4s ease forwards;
  animation-delay: .5s;
  color: white;
   -webkit-text-stroke: 1px black;
   transition: margin 1s;
}
.active{
  margin: 5% auto 0 auto;
}
@keyframes fade-in {
from{
  opacity: 0;
}
to{
  opacity: 1;
}
}
@keyframes fade-out {
from{
  opacity: 1;
}
to{
  opacity: 0;
}
}
.pageTurn{
  display: block;
  animation: fade-out .5s ease forwards;
}
.turning{
  animation: fade-in .5s ease forwards;
}
.enter-button{
  color: black;
  padding: 1em;
  background-color: white;
  border: 1px solid black;
  /* color: white; */
  font-family: 'Cairo', sans-serif;
  margin: 1em auto auto auto;
  width: 10vw;
  opacity: 0;
  animation: fade-in 2s ease forwards;
  animation-delay: 2s;
  transition: background-color .5s ease;
  transition: color .5s ease;
  cursor: pointer;
}
.button-active{
  animation: fade-out 1s ease forwards;
}
.enter-button:hover{
  background-color: black;
  color: white;
}

.text-container{
  text-align: center;
  width: 100vw;
}
.main-text{
  font-family: 'Antic Slab', serif;
  font-size: 20px;
  width: 30vw;
  margin: auto;
  position: relative;
  bottom: 4em;
  display: none;
  opacity: 0;
}
.text-display{
    display: block;
}
.text-active{
  animation: fade-in 1s ease forwards;
  animation-delay: 1s;
}
a{
  color: black;
  text-decoration: underline;
  transition: color 1s ease;
}
a:hover{
  color: #4E2A84;
}
.alumni-twitter-list{
  text-align: left;
  list-style: none;
}
@media screen and (max-width: 1000px) {
  body{
    overflow-y: scroll;
  }
  .main-text{
    width: 80vw;
    font-size: 2em;
  }
  .title-text{
    -webkit-text-stroke: initial;
    color: black;
    margin-top: 30%;
    width: 100vw;
    font-size: 8em;
  }
  .active{
    margin-top: 1%;
  }
  .enter-button{
    /* padding: 3em; */
    width: 50vw;
    font-size: 1em;
  }
  .button-active{}
  .navbar{
    /* display: none; */

  }
}
